header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  text-align: center;
  background: black;
  color: white;
  display: table;
  width: 100%;
  z-index: 2;
  padding: 20px;
}
