table#deteilTable {
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  th,
  td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    padding: 6px;
    &:first-child {
      background: #afcde7;
      color: white;
      padding: 10px 20px;
    }
  }

  td {
    background: #d8e6f3;
  }
  th:first-child,
  td:first-child {
    text-align: left;
  }
}
